@{
    ViewData["Title"] = " Yearly salary control sheet report";
    var employeeType = ViewBag.employeeType as List<SelectListItem>;
    var Codes = ViewBag.EmployeeCode as List<SelectListItem>;
    var departments = ViewBag.Departments as List<SelectListItem>;
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h4 class="page-title">Yearly salary control sheet report</h4>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Reports</li>
                <li class="breadcrumb-item active">Yearly salary control sheet </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row">
    <div class="col-8 offset-2">
        <div class="card border">
            <div class="card-body">
                <form asp-action="YearlySalaryControlSheet" asp-controller="SalaryReport">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Employee Code</label>
                                <select name="jobCode" class="form-control" id="jobCode" multiple="multiple">
                                    <option value="">-- Select Employee Code --</option> <!-- Default empty option -->
                                    @foreach (var Code in Codes)
                                    {
                                        <option value="@Code.Text">@Code.Text</option>
                                    }
                                </select>
                                <p id="jobCodeError" class="text-danger error-item">@ViewBag.jobCodeError</p>
                            </div>

                            <div class="form-group">
                                <label for="fmonth">From Month</label>
                                <select class="form-control" id="fmonths" name="fmonth"></select>
                                <p id="fMonthsError" class="text-danger error-item">@ViewBag.fmonthsError</p>
                            </div>
                            <div class="form-group">
                                <label for="fyear">From Year</label>
                                <select class="form-control" id="fyears" name="fyear"></select>
                                <p id="fYearsError" class="text-danger error-item">@ViewBag.fyearsError</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Department</label>
                                <select name="department" class="form-control" id="department">
                                    <option value="">Select</option>
                                    @foreach (var department in departments)
                                    {
                                        <option value="@department.Text">@department.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="EmployeeTypeId">Employee Type <span class="text-danger" title="required">*</span></label>
                                <select class="form-control" id="EmployeeTypeId" name="employeeTypeId"></select>
                                <p id="EmployeeTypeIdError" class="text-danger error-item">@ViewBag.employeeTypeIdError</p>
                            </div>
                            <div class="form-group">
                                <label for="tmonth">To Month</label>
                                <select class="form-control" id="tmonths" name="tmonth"></select>
                                <p id="tMonthsError" class="text-danger error-item">@ViewBag.tmonthsError</p>
                            </div>
                            <div class="form-group">
                                <label for="tyear">To Year</label>
                                <select class="form-control" id="tyears" name="tyear"></select>
                                <p id="tYearsError" class="text-danger error-item">@ViewBag.tyearsError</p>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" class="form-check-input" id="isExcel" name="isExcel">
                                <label for="isExcel">Export as Excel?</label>
                            </div>
                            <div class="row">
                                <div class="offset-7 col-3">
                                    <button type="submit" formtarget="_blank" class="btn btn-primary btn-sm mb-2">Generate</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadInitialData();
            $('#jobCode').select2({
                placeholder: 'Select an employee code',
                allowClear: true
            });
        });

        function getMonthId() {
            let month = $('#months').val();
            let year = $('#years').val();
            return (parseInt(year) * 100) + parseInt(month);
        }

        function loadInitialData() {
            $.ajax({
                url: '/api/Employees/GetEmployeeTypes',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    employeeTypes = responseObject.data;
                    $('#EmployeeTypeId').empty();
                    $('#EmployeeTypeId').append('<option value="0">select one</option>');
                    $.each(employeeTypes, function (key, item) {
                        if (item.id == 1 || item.id == 2) {
                            $('#EmployeeTypeId').append(`<option value=${item.id}>${item.employeeTypeName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });

            // $.ajax({
            //     url: '/api/Others/GetMonths',
            //     type: 'Get',
            //     async: false,
            //     dataType: 'json',
            //     success: function (responseObject) {
            //         let months = responseObject.data;
            //         $('#fmonths, #tmonths').empty();
            //         $.each(months, function (key, item) {
            //             $('#fmonths, #tmonths').append(`<option value=${item.monthId}>${item.monthName}</option>`);
            //         });
            //     },
            //     error: function (responseObject) {
            //     }
            // });


            $.ajax({
                url: '/api/Others/GetMonths',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let months = responseObject.data;
                    let currentMonth = new Date().getMonth() + 1;
                    $('#fmonths').empty();
                    $.each(months, function (key, item) {
                        if (currentMonth == parseInt(item.monthId)) {
                            $('#fmonths').append(`<option value=${item.monthId} selected>${item.monthName}</option>`);
                        }
                        else {
                            $('#fmonths').append(`<option value=${item.monthId}>${item.monthName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });

            $.ajax({
                url: '/api/Others/GetMonths',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let months = responseObject.data;
                    let currentMonth = new Date().getMonth() + 1;
                    $('#tmonths').empty();
                    $.each(months, function (key, item) {
                        if (currentMonth == parseInt(item.monthId)) {
                            $('#tmonths').append(`<option value=${item.monthId} selected>${item.monthName}</option>`);
                        }
                        else {
                            $('#tmonths').append(`<option value=${item.monthId}>${item.monthName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });

            $.ajax({
                url: '/api/Others/GetYears',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let years = responseObject.data;
                    let currentYear = new Date().getFullYear();
                    $('#fyears').empty();
                    $.each(years, function (key, item) {
                        if (item == currentYear) {
                            $('#fyears').append(`<option value=${item} selected>${item}</option>`);
                        }
                        else {
                            $('#fyears').append(`<option value=${item}>${item}</option>`);
                        }
                    });
                },
                error: function (responseObject) {
                }
            });

            $.ajax({
                url: '/api/Others/GetYears',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let years = responseObject.data;
                    let currentYear = new Date().getFullYear();
                    $('#tyears').empty();
                    $.each(years, function (key, item) {
                        if (item == currentYear) {
                            $('#tyears').append(`<option value=${item} selected>${item}</option>`);
                        }
                        else {
                            $('#tyears').append(`<option value=${item}>${item}</option>`);
                        }
                    });
                },
                error: function (responseObject) {
                }
            });
        }
    </script>
}
