@{
    ViewData["Title"] = "Amenities Bank Forward Report";
    var bankList = ViewBag.banks as List<SelectListItem>;
}

<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Amenities Bank Forward</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Amenities Reports</li>
                <li class="breadcrumb-item">Amenities</li>
                <li class="breadcrumb-item active">Amenities Bank Forward</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
<div class="row justify-content-center mt-4 mb-2">
    <div class="col-md-8">
        <form method="post" asp-action="GetAmenitiesBankForward" class="form-signin create-form bg-white rounded border shadow-sm p-4">
            <div class="text-center mb-4">
                <h1 class="h5 mb-3 font-weight-bold card-header border">Amenities Bank Forward Report</h1>
            </div>
            <div class="row">
                <div class="col-md-6 border">
                    <div class="form-group">
                        <label for="month">Month</label>
                        <select class="form-control" id="months" name="month"></select>
                        <p id="MonthsError" class="text-danger error-item">@ViewBag.monthsError</p>
                    </div>
                    <div class="form-group">
                        <label for="year">Year</label>
                        <select class="form-control" id="years" name="year"></select>
                        <p id="YearsError" class="text-danger error-item">@ViewBag.yearsError</p>
                    </div>
                </div>
                <div class="col-md-6 border">
                    
                    <div class="form-group">
                        <label class="control-label">Bank Name</label>
                        <select name="bank" class="form-control" id="bank">
                            <option value="">Select</option>
                            @foreach (var bank in bankList)
                            {
                                <option value="@bank.Value">@bank.Text</option> <!-- Use Text for filtering by name -->
                            }
                        </select>
                        <p id="bankError" class="text-danger error-item">@ViewBag.bankError</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Report Type</label>
                        <select name="reportType" class="form-control" required="required" id="reportType">
                            <option value="Original">Original</option>
                            <option value="Duplicate">Duplicate</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="offset-10 col-3 mt-1">
                <button type="submit" formtarget="_blank" class="btn btn-primary btn-sm mb-2">generate</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadInitialData();

        });
        function getMonthId() {
            let month = $('#months').val();
            let year = $('#years').val();

            return (parseInt(year) * 100) + parseInt(month);
        }

        function loadInitialData() {


            $.ajax({
                url: '/api/Others/GetMonths',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let months = responseObject.data;
                    let currentMonth = new Date().getMonth() + 1;
                    $('#months').empty();
                    $.each(months, function (key, item) {
                        if (currentMonth == parseInt(item.monthId)) {
                            $('#months').append(`<option value=${item.monthId} selected>${item.monthName}</option>`);
                        }
                        else {
                            $('#months').append(`<option value=${item.monthId}>${item.monthName}</option>`);
                        }

                    });
                },
                error: function (responseObject) {
                }
            });

            $.ajax({
                url: '/api/Others/GetYears',
                type: 'Get',
                async: false,
                dataType: 'json',
                success: function (responseObject) {
                    let years = responseObject.data;
                    let currentYear = new Date().getFullYear();
                    $('#years').empty();
                    $.each(years, function (key, item) {
                        if (item == currentYear) {
                            $('#years').append(`<option value=${item} selected>${item}</option>`);
                        }
                        else {
                            $('#years').append(`<option value=${item}>${item}</option>`);
                        }
                    });
                },
                error: function (responseObject) {
                }
            });

        }
    </script>
}
